<div class="main-content search-results-content">

  <div class="container">
    <div class="row">
        <%= render partial: 'spree/shared/refined_search' %>
        <%= render partial: 'spree/shared/results' %>
    </div>
  </div>