<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Mailing List Signup</h3>
          <br />
          <h7>Subscribe to Our Mailing List to receive notice of discounts and promotions as soon as they are available.<br />We promise not to share your address with anyone
            and you can opt-out at anytime.
          </h7>
        </div>
        <%= render 'form' %>
      </div>
      <%= link_to '/', class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Back
      <% end %>
    </div>

  </div>
</div>
