/*_variables.scss */

$text-color: #585757;
$text-color-secondary: #999999;
$text-color-hover: #aeaeae;
$base-font-size: 16px;
$base-font-family: "Lato-Regular", "Myriad Pro", Helvetica, Arial, sans-serif;
$secondary-font-family: "Lato-Bold", "Myriad Pro", Helvetica, Arial, sans-serif;
$lato-regular: "Lato-Regular", "Myriad Pro", Helvetica, Arial, sans-serif;
$lato-bold: "Lato-Bold", "Myriad Pro", Helvetica, Arial, sans-serif;
$lato-light: "Lato Light", "Myriad Pro", Helvetica, Arial, sans-serif;
$latio-hairline: "Lato-Hairline", "Myriad Pro", Helvetica, Arial, sans-serif;
$base-font-weight: 400;

$bluegrey: #34495e;
$lightblue: #c0e0f6;
$darkblue: #34495e;
