@font-face {
    font-family:'Lato-Regular';
    src:    font-url('Lato-Regular.eot');
    src:    font-url('Lato-Regular.eot?#iefix'font) format("embedded-opentype"),
            font-url('Lato-Regular.woff'font) format("woff"),
            font-url('Lato-Regular.ttf'font) format("truetype"),
            font-url('Lato-Regular.svg#Lato-Regular'font) format("svg");
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:'Lato-Bold';
    src:    font-url('Lato-Bold.eot');
    src:    font-url('Lato-Bold.eot?#iefix') format("embedded-opentype"),
    font-url('Lato-Bold.woff') format("woff"),
    font-url('Lato-Bold.ttf') format("truetype"),
    font-url('Lato-Bold.svg#Lato-Bold') format("svg");
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:'Lato-Light';
    src:    font-url('Lato-Light.eot');
    src:    font-url('Lato-Light.eot?#iefix') format("embedded-opentype"),
    font-url('Lato-Light.woff') format("woff"),
    font-url('Lato-Light.ttf') format("truetype"),
    font-url('Lato-Light.svg#Lato-Light') format("svg");
    font-weight:400;
    font-style:normal
}


@font-face {
    font-family:'Lato-Hairline';
    src:    font-url('Lato-Hairline.eot');
    src:    font-url('Lato-Hairline.eot?#iefix') format("embedded-opentype"),
    font-url('Lato-Hairline.woff') format("woff"),
    font-url('Lato-Hairline.ttf') format("truetype"),
    font-url('Lato-Hairline.svg#Lato-Hairline') format("svg");
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:'Flat-UI-Pro-Icons';
    src:url('../assets/glyphicons/flat-ui-pro-icons-regular.eot');
    src:url('../assets/glyphicons/flat-ui-pro-icons-regular.eot?#iefix') format("embedded-opentype"),url('../assets/glyphicons/flat-ui-pro-icons-regular.woff') format("woff"),url('../assets/glyphicons/flat-ui-pro-icons-regular.ttf') format("truetype"),url('../assets/glyphicons/flat-ui-pro-icons-regular.svg#flat-ui-pro-icons-regular') format("svg")
}

@font-face {
    font-family:'Glyphicons Halflings';
    src:url('../assets/glyphicons-halflings-regular.eot');
    src:url('../assets/glyphicons-halflings-regular.eot?#iefix') format("embedded-opentype"),url('../assets/glyphicons-halflings-regular.woff') format("woff"),url('../assets/glyphicons-halflings-regular.ttf') format("truetype"),url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format("svg")
}

body {
    font-family:"Lato-Regular","Myriad Pro",Helvetica,Arial,sans-serif
}

.select-primary .select2-choice {
    background-color:#e1f2fe;
    color:#138cce;
    border:2px solid #138cce
}

.select-primary .select2-choice .select2-arrow {
    border-top-color:#138cce
}

.select2-drop .select2-highlighted>.select2-result-label {
    background-color:#ccc
}

.form-group.focus .form-control,.form-control:focus,.form-group.focus .select2-search input[type="text"],.select2-search input[type="text"]:focus {
    border-color:#ccc
}

#myCarousel.carousel .col-lg-3 {
    width:20%;
    padding-left:0;
    padding-right:0;
    max-width:20%;
    background-color:#ccc
}

#myCarousel.carousel .col-lg-3 a img {
    max-width:100%
}

#accordion.ribbons .panel-heading {
    padding:0;
    border-top-left-radius:0;
    border-top-right-radius:0
}

#accordion.ribbons .panel-title {
    font-size:14px;
    line-height:14px
}

#accordion.ribbons .panel-title a {
    padding:12px 15px;
    display:block;
    background-color:#3498db;
    color:#fff
}

#accordion.ribbons .panel-title a.collapsed {
    background-color:#ecf0f1;
    color:#2c3e50
}

#accordion.ribbons .panel-title a.collapsed:hover {
    color:#138cce
}

#accordion.ribbons .panel {
    margin:0;
    border-radius:0;
    border:0
}

#accordion.ribbons .panel-body {
    padding:0;
    border:0;
    background-color:#3498db
}

#accordion.ribbons .panel-body ul {
    margin:0;
    list-style:none;
    padding:0;
    font-size:14px;
    line-height:14px
}

#accordion.ribbons .panel-body a {
    padding:12px 15px;
    display:block;
    color:#fff;
    background-color:#3498db
}

#accordion.ribbons .panel-body a:hover {
    background-color:#7796aa
}

.pagination {
    margin-top:5px;
    margin-bottom:5px
}

.pagination li>a,.pagination li>span,.dataTables_paginate li>a,.dataTables_paginate li>span {
    font-family:"Lato-Bold","Myriad Pro",Helvetica,Arial,sans-serif;
    color:#138cce;
    min-height:10px;
    min-width:10px;
    padding:0 6px;
    border:0
}

.pagination li.active>a,.pagination li.active>span,.dataTables_paginate li.active>a,.dataTables_paginate li.active>span {
    background-color:#fff;
    color:#bdc3c7
}

.navbar-default .navbar-toggle:before,.navbar-default .navbar-toggle:before,.navbar-default .navbar-toggle:hover:before,.navbar-default .navbar-toggle:focus:before {
    color:#3498db
}

@media (min-width: 1500px) {
    nav .container,.topbar .container {
        width:1470px
    }
}

h1 {
    text-transform:uppercase;
    font-size:24px;
    line-height:26px
}

h3.headline {
    margin-top:0;
    margin-bottom:5px;
    text-transform:uppercase;
    font-size:24px;
    line-height:26px
}

@media (max-width: 770px) {
    h3.headline.drill-down-headline {
        margin-top:20px
    }
}

.main-content {
    margin-top:0;
    margin-bottom:40px
}

.main-content p {
    font-size:15px;
    line-height:24px
}

body.home .main-content {
    margin-top:50px;
    margin-bottom:0
}

.breadcrumb {
    background:none;
    border:0;
    padding:0;
    margin:10px 0
}

.breadcrumb a,.breadcrumb li {
    font-family:"Lato-Regular","Myriad Pro",Helvetica,Arial,sans-serif;
    font-size:15px;
    line-height:15px;
    font-weight:400
}

.breadcrumb li a {
    color:#138cce
}

.breadcrumb li.active {
    color:#bdc3c7
}

.breadcrumb>li:after {
    content:"/";
    font-size:19px;
    margin:-4px 6px 0 7px
}

.well h3 {
    margin-bottom:15px
}

.hide,.hidden {
    display:none
}

.topbar {
    background-color:#34495e;
    color:#7993ae;
    font-family:"Lato-Bold","Myriad Pro",Helvetica,Arial,sans-serif
}

.topbar ul {
    float:right;
    list-style:none;
    margin:0
}

.topbar li {
    display:inline-block;
    margin:0 5px;
    padding:10px 0;
    font-size:18px;
    line-height:18px
}

.topbar li a {
    color:#7993ae
}

.topbar li.connect {
    font-size:17px;
    text-transform:uppercase
}

.navbar-ar {
    background:#fe0071;
    background:-moz-linear-gradient(top,#fe0071 0%,#dd0252 50%,#cb0241 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fe0071),color-stop(50%,#dd0252),color-stop(100%,#cb0241));
    background:-webkit-linear-gradient(top,#fe0071 0%,#dd0252 50%,#cb0241 100%);
    background:-o-linear-gradient(top,#fe0071 0%,#dd0252 50%,#cb0241 100%);
    background:-ms-linear-gradient(top,#fe0071 0%,#dd0252 50%,#cb0241 100%);
    background:linear-gradient(to bottom,#fe0071 0%,#dd0252 50%,#cb0241 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe0071',endColorstr='#cb0241',GradientType=0);
    border-radius:0;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:0
}

.navbar-ar .mini-nav-right {
    float:none;
    margin-top:10px;
    margin-right:-10px
}

.navbar-ar .mini-nav-right a {
    font-weight:400;
    font-size:14px;
    line-height:16px;
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    margin-top:10px;
    margin-bottom:10px;
    color:#fff
}

.navbar-ar .mini-nav-right a span {
    margin-right:5px
}

.navbar-ar .mini-nav-right li.my-account a {
    border-right:1px solid #fff;
    padding-right:10px
}

.navbar-ar .mini-nav-right li {
    margin-left:13px
}

.navbar-ar .main-nav-right {
    margin-top:10px
}

.navbar-ar .main-nav-right a {
    font-family:"Lato-Regular","Myriad Pro",Helvetica,Arial,sans-serif;
    font-weight:400;
    color:#fff;
    font-size:17px;
    line-height:20px
}

.navbar-ar .main-nav-right a:active {
    color:#fff
}

.navbar-ar .main-nav-right li {
    margin:0 5px
}

.navbar-ar .main-nav-right li.active a {
    background-color:#af0138;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}

.navbar-ar .main-nav-right li:hover a {
    background-color:#af0138;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color:#fff
}

.navbar-ar .navbar-collapse {
    padding-right:0;
    margin-right:-5px;
    width:66.5%;
    float:right
}

.navbar-ar form {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:0;
    padding-right:0
}

#search {
    position:relative;
    width:100%;
    background:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}

#search input {
    width:170px;
    border:0;
    color:#c9cccf;
    background:none;
    padding-left:10px;
    padding-right:40px
}

#search button {
    position:absolute;
    top:0;
    right:0;
    margin:0 5px 0 0;
    border:0;
    background:none
}

section.quick-search .nav-search {
    padding-left:0;
    margin-top:10px
}

.navbar-default .navbar-nav>li>a,.navbar-default #main-nav.navbar-nav>li>a,.navbar-default #main-nav.navbar-nav>li>a:hover,.navbar-default #main-nav.navbar-nav>li>a:active,.navbar-ar #main-nav.navbar-nav>.active>a,.navbar-ar #main-nav.navbar-nav>.active>a:hover,.navbar-ar #main-nav.navbar-nav>.active>a:focus {
    color:#fff
}

.navbar-default .navbar-nav.mini-nav-right>li>a {
    color:#ffbed4
}

.navbar-default .navbar-nav.mini-nav-right>li>a:active,.navbar-default .navbar-nav.mini-nav-right>li>a:hover {
    color:#fff
}

#mini-nav.nav>li.nav-search {
    display:none
}

.navbar-nav>li>a {
    padding:8px 11px
}

.small-logo {
    display:none
}

@media (max-width: 1497px) {
    .navbar-collapse {
        width:100%;
        max-width:680px
    }

    .navbar-ar .main-nav-right a {
        font-size:14px;
        line-height:18px
    }

    .navbar-ar .main-nav-right li {
        margin:0 5px
    }

    #search input {
        max-width:100px;
        font-size:14px;
        padding-right:0
    }
}

@media (max-width: 1197px) {
    .small-logo {
        display:block
    }

    .large-logo {
        display:none
    }

    #main-nav.nav>li.nav-search {
        display:none
    }

    #mini-nav.nav>li.nav-search {
        display:inline-block
    }

    #main-nav {
        margin-right:-35px
    }
}

@media (max-width: 990px) {
    .navbar-header {
        width:100%;
        max-width:200px
    }

    .navbar-collapse {
        padding-left:0
    }

    #mini-nav {
        margin-right:-10px
    }

    #main-nav {
        margin-right:-20px
    }

    .navbar-ar ul {
        margin-right:0
    }

    .navbar-ar .mini-nav-right {
        margin-right:0
    }

    .navbar-ar .mini-nav-right a {
        font-size:12px;
        line-height:13px
    }

    .navbar-ar .main-nav-right a {
        font-size:12px;
        line-height:13px
    }

    .navbar-ar .main-nav-right li {
        margin:0 2px
    }
}

@media (max-width: 768px) {
    .navbar-header {
        max-width:100%;
        margin-right:0
    }

    .navbar-toggle {
        margin:0 0 0 21px
    }

    .small-logo {
        max-width:170px;
        padding-top:5px;
        padding-bottom:5px
    }

    .navbar-ar {
        padding-top:0;
        padding-bottom:0
    }

    .navbar-ar .container {
        padding-left:0;
        padding-right:0
    }

    .navbar-ar .navbar-collapse {
        width:100%;
        float:none;
        margin-right:0;
        max-width:100%
    }

    .navbar-ar .mini-nav-right li.my-account a {
        border:0
    }

    .navbar .container>.navbar-header,.navbar .container-fluid>.navbar-header,.navbar .container>.navbar-collapse,.navbar .container-fluid>.navbar-collapse {
        margin-right:0;
        margin-left:0
    }

    .navbar-ar .mini-nav-right,.navbar-ar .main-nav-right {
        margin-top:0;
        margin-bottom:0
    }

    .navbar-ar .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-bottom:0
    }
}

footer {
    background-color:#34495e;
    padding-top:50px;
    padding-bottom:0;
    color:#7993ae;
    margin-top:20px
}

footer .copyright {
    font-family:"Lato-Regular","Myriad Pro",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:18px;
    padding:10px 0
}

footer .footer-column {
    font-size:15px;
    line-height:24px;
    margin-bottom:20px
}

footer .footer-column a {
    color:#7993ae
}

footer .footer-column a:hover {
    text-decoration:none;
    color:#138cce
}

footer .footer-column p {
    margin:0;
    font-size:15px
}

footer .footer-column .footer-logo img {
    margin-top:-15px;
    width:100%;
    max-width:180px;
    margin-left:10px
}

footer .footer-column ul {
    list-style:none;
    margin:0;
    padding:0
}

footer .footer-column h5 {
    text-transform:uppercase;
    font-weight:400;
    font-family:"Lato-Bold","Myriad Pro",Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:16px
}

footer .footer-column.about p {
    padding-right:20px
}

footer .footer-column.about a {
    display:block;
    color:#138cce
}

.bottombar {
    color:#7993ae;
    font-family:"Lato-Bold","Myriad Pro",Helvetica,Arial,sans-serif;
    padding-top:10px;
    padding-bottom:10px;
    border-top:1px solid #536a83
}

.bottombar ul {
    float:right;
    list-style:none;
    margin:0
}

.bottombar li {
    display:inline-block;
    margin:0 5px;
    padding:10px 0;
    font-size:18px;
    line-height:18px
}

.bottombar li a {
    color:#7993ae
}

.bottombar li.connect {
    font-size:17px;
    text-transform:uppercase
}

@media (max-width: 990px) {
    .bottombar {
        text-align:center
    }

    .bottombar ul {
        padding-left:0;
        padding-right:0;
        margin:0 auto;
        float:none
    }
}

.quick-search {
    background-color:#c0e0f6;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    color:#138cce
}

.quick-search h3 {
    font-family:'Lato-Bold',"Myriad Pro",Helvetica,Arial,sans-serif;
    font-size:31px;
    line-height:31px;
    font-weight:100;
    text-transform:uppercase;
    margin:0
}

.quick-search .select {
    min-width:100px;
    width:100%
}

.quick-search .mbl.form-color {
    padding-left:0
}

.quick-search .quick-search-form {
    padding-top:20px
}

.quick-search form {
    margin-right:-77px
}

.quick-search .mbl {
    margin-bottom:0!important
}

.quick-search .select-primary .select2-choice:hover,.quick-search .select-primary .select2-choice.hover,.quick-search .select-primary .select2-choice:focus,.quick-search .select-primary .select2-choice:active {
    background-color:#3498db;
    border-color:#3498db;
    color:#fff
}

.carousel {
    margin-bottom:25px
}

.carousel .item img {
    width:100%
}

.why-shop-row {
    margin-bottom:30px
}

.why-shop-col {
    color:#2c3e50;
    text-align:center
}

.why-shop-col .icon {
    width:100%;
    text-align:center
}

.why-shop-col p {
    font-size:15px;
    line-height:30px;
    margin-bottom:0
}

.why-shop-col a {
    color:#138cce
}

.why-shop-col h4 {
    font-size:24px;
    line-height:24px
}

.headline-why-shop {
    text-align:center;
    position:relative;
    margin-top:30px;
    margin-bottom:15px
}

.headline-why-shop h3 {
    display:inline-block;
    background-color:#fff;
    margin-bottom:0;
    z-index:99;
    padding-left:15px;
    padding-right:15px;
    font-family:"Lato-Bold","Myriad Pro",Helvetica,Arial,sans-serif;
    font-size:24px;
    line-height:24px;
    font-weight:100;
    text-transform:uppercase;
    margin:0
}

.headline-why-shop h3:before,.headline-why-shop h3:after {
    border-top:1px solid #000;
    display:block;
    height:1px;
    content:" ";
    width:100%;
    position:absolute;
    left:0;
    right:auto;
    top:49%;
    z-index:-1
}

.headline-why-shop h3:after {
    right:0;
    left:auto
}

.jcarousel-wrapper .jcarousel {
    margin-top:15px
}

.jcarousel-wrapper .headline {
    text-align:left;
    position:relative
}

.jcarousel-wrapper .headline h3 {
    display:inline-block;
    background-color:#fff;
    margin-bottom:0;
    z-index:99;
    padding-right:15px
}

.jcarousel-wrapper .headline h3:after {
    border-top:1px solid #000;
    display:block;
    height:1px;
    content:" ";
    width:100%;
    position:absolute;
    right:0;
    left:auto;
    top:49%;
    z-index:-1
}

.jcarousel-wrapper h3 {
    font-family:"Lato-Bold","Myriad Pro",Helvetica,Arial,sans-serif;
    font-size:24px;
    line-height:24px;
    font-weight:100;
    text-transform:uppercase;
    margin:0 0 15px
}

.sidebar h3 {
    font-size:24px;
    line-height:24px;
    text-transform:uppercase;
    color:#34495e;
    margin:0 0 15px
}

.sidebar .ad img {
    margin-left:auto;
    margin-right:auto
}

body.home .sidebar {
    margin-top:-5px
}

@media (max-width: 990px) {
    .quick-search .mbl {
        margin-bottom:5px;
        margin-right:5px;
        padding-right:0
    }

    .quick-search .submit-form-col {
        margin-top:0;
        padding-left:0;
        padding-right:0
    }

    .quick-search .submit-form-col button {
        width:100%;
        margin-left:0!important
    }

    .quick-search .quick-search-form {
        padding-top:0;
        margin-right:0
    }

    .quick-search form {
        margin-right:0
    }

    .quick-search h3 {
        margin-bottom:20px;
        text-align:center
    }
}

@media (max-width: 760px) {
    .quick-search .mbl {
        margin-top:5px;
        margin-right:0
    }

    .quick-search .quick-search-form {
        padding-top:0;
        margin-right:0
    }

    .quick-search .quick-search-form button {
        margin-top:20px
    }
}

.search-results-content {
    margin-top:30px;
    font-size:14px
}

.search-results-content nav {
    margin:10px auto
}

.bottom-navigation {
    border-top:1px solid #000;
    margin-top:10px;
    padding-top:10px
}

.display_results_stats {
    border-top:1px solid #000;
    margin-top:10px;
    padding-top:10px
}

.display_results_stats a.active {
    color:#138cce
}

.display_results_stats .displaying {
    text-align:left;
    padding-left:0
}

.display_results_stats .results-per {
    text-align:right;
    padding-right:0
}

.results {
    margin:20px 0
}

.results ul {
    list-style:none;
    margin:0 0 0 -15px;
    padding:0
}

.results li {
    max-width:150px;
    color:#2c3e50;
    text-align:center;
    width:auto;
    min-width:150px;
    max-width:170px;
    margin-bottom:15px
}

.results li img {
    max-width:150px;
    width:auto;
    margin-bottom:5px
}

#accordion.search .panel-heading {
    padding:0
}

#accordion.search .panel-title {
    font-size:14px;
    line-height:14px
}

#accordion.search .panel-title a {
    padding:12px 15px;
    display:block;
    background-color:#a1a6a9;
    color:#fff
}

#accordion.search .panel-title a.top-panel {
    border-top-left-radius:15px;
    border-top-right-radius:15px
}

#accordion.search .panel-title a.collapsed {
    background-color:#a1a6a9;
    color:#2c3e50
}

#accordion.search .panel-title a.collapsed:hover {
    color:#138cce
}

#accordion.search .panel {
    margin-top:0;
    border:0
}

#accordion.search .panel-body {
    padding:10px 20px;
    border:0;
    background-color:#ecf0f1
}

#accordion.search .panel-body ul {
    margin:0;
    list-style:none;
    padding:0;
    font-size:14px;
    line-height:14px
}

#accordion.search .panel-body label {
    color:#2c3e50
}

#accordion.search .panel-body label:hover {
    color:#138cce
}

#accordion.search .panel-body .checkbox input.custom-checkbox[type="checkbox"]:checked+.icons .icon-checked,#accordion.search .panel-body .radio input.custom-checkbox[type="checkbox"]:checked+.icons .icon-checked,#accordion.search .panel-body .checkbox input.custom-radio[type="radio"]:checked+.icons .icon-checked,#accordion.search .panel-body .radio input.custom-radio[type="radio"]:checked+.icons .icon-checked {
    color:#138cce
}

#accordion.search .panel-default>.panel-heading {
    background-color:#a1a6a9
}

#accordion.search .panel-default>.panel-heading h4 {
    color:#fff;
    text-transform:uppercase;
    font-size:15px;
    line-height:15px
}

.cart-table {
    color:#455769;
    font-family:"Lato-Bold","Myriad Pro",Helvetica,Arial,sans-serif
}

.cart-table a {
    color:#455769
}

.cart-table input {
    color:#858e99
}

.cart-table th {
    font-weight:400;
    font-size:16px;
    line-height:18px
}

.cart-table h4 {
    font-weight:400;
    font-size:16px;
    line-height:18px
}

.cart-table .item-stats {
    font-family:"Lato-Regular","Myriad Pro",Helvetica,Arial,sans-serif;
    list-style:none;
    margin:0;
    padding:0;
    line-height:24px;
    font-size:16px
}

.cart-table .item-stats li {
    margin-bottom:5px
}

.cart-table .ui-spinner-button .ui-icon:before {
    color:#fff
}

.cart-table .ui-spinner-input.input-sm+.ui-spinner-button,.cart-table .ui-spinner-input.select2-search input[type="text"]+.ui-spinner-button {
    height:20px
}

.cart-table .ui-spinner-input {
    width:45px
}

.cart-table .item-col {
    padding-left:0
}

.btm-right {
    text-align:right
}

.promo-code {
    max-width:170px;
    display:inline-block;
    margin-right:10px
}

.btn-remove {
    background:none;
    color:#bdc3c7
}

@media (max-width: 992px) {
    .btm-left,.btm-right {
        text-align:center;
        margin-top:10px;
        margin-bottom:10px;
        float:none
    }
}

@media (max-width: 468px) {
    .btm-left,.btm-right {
        font-size:11px
    }

    .btm-left button,.btm-left input,.btm-right button,.btm-right input {
        margin-bottom:10px
    }
}

.product-information .label {
    font-size:14px
}

.product-information h2 {
    text-transform:uppercase;
    font-size:18px;
    line-height:18px
}

.product-information ul {
    margin:0;
    padding:0;
    list-style-position:inside
}

.product-information li {
    display:inline-block
}

.product-information li:before {
    content:"•";
    margin-right:3px
}

.product-settings {
    margin:30px auto
}

.product-settings h3 {
    text-transform:uppercase;
    font-size:18px;
    line-height:18px;
    margin:5px 0 10px;
    padding:0;
    font-family:"Lato-Bold","Myriad Pro",Helvetica,Arial,sans-serif;
    font-weight:400
}

.product-settings .row {
    margin-bottom:20px
}

.product-settings .select2-choice {
    background-color:#a1a6a9;
    border-color:#a1a6a9;
    color:#fff;
    font-size:15px;
    font-family:"Lato-Bold","Myriad Pro",Helvetica,Arial,sans-serif
}

.product-settings .select-primary .select2-choice .select2-arrow {
    border-top-color:#fff
}

.product-settings .select-primary .select2-choice:hover,.product-settings .select-primary .select2-choice.hover,.product-settings .select-primary .select2-choice:focus,.product-settings .select-primary .select2-choice:active {
    background-color:#a1a6a9;
    border-color:#a1a6a9;
    color:#fff
}

.product-settings #width-slider.ui-slider.ui-slider-horizontal {
    max-width:460px;
    min-width:460px
}

.product-settings #width-slider.ui-slider.ui-slider-horizontal .labels {
    background:image-url('labels-slider-width.png') no-repeat;
    width:100%;
    min-width:484px;
    height:22px;
    top:17px;
    position:absolute;
    left:-17px
}

.product-settings #length-slider.ui-slider.ui-slider-horizontal {
    max-width:460px;
    min-width:460px
}

.product-settings #length-slider.ui-slider.ui-slider-horizontal .labels {
    background:image-url('labels-slider-length.png') no-repeat;
    width:100%;
    min-width:484px;
    height:22px;
    top:17px;
    position:absolute;
    left:-17px
}

.product-settings .ui-spinner {
    max-width:100px;
    float:right
}

#width-slider .ui-slider-handle {
    background-color:#2c81ba
}

#width-slider .ui-slider-range {
    background-color:#3498db
}

#length-slider .ui-slider-handle {
    background-color:#2c81ba
}

#length-slider .ui-slider-range {
    background-color:#3498db
}

.ui-slider-value-x {
    font-size:13px;
    margin-top:12px;
    display:inline-block;
    text-align:left;
    width:57px;
    float:left;
    margin-left:-10px;
    margin-right:10px
}

.ui-slider-value-x.first {
    text-align:left
}

.ui-slider-value-x.second-to-last {
    width:auto;
    margin-left:0
}

.ui-slider-value-x.last {
    float:right;
    text-align:right;
    margin-left:0;
    margin-right:-5px;
    width:auto
}

.social-icons {
    margin:50px 0
}

.social-icons label {
    font-size:14px;
    margin-right:10px;
    line-height:20px
}

.social-icons a {
    margin-right:5px;
    margin-left:5px
}

.add-col,.quantity-col {
    text-align:right
}

.bottom-row {
    margin-top:10px;
    border-top:1px solid #000;
    padding-top:10px
}

.price span {
    font-family:"Lato-Bold","Myriad Pro",Helvetica,Arial,sans-serif;
    font-size:40px;
    line-height:40px;
    font-weight:100
}

#multiplex-items {
    display:none
}

.product-display .jcarousel-wrapper {
    margin-top:-10px
}

.product-display .jcarousel-control-prev {
    left:0
}

.product-display .jcarousel-control-prev,.product-display .jcarousel-control-next {
    color:#bdc3c7;
    font-size:45px;
    line-height:45px;
    height:auto;
    background:none;
    top:5px
}

.product-display #multiple-items {
    width:85%;
    max-width:485px;
    margin-left:auto;
    margin-right:auto
}

@media (max-width: 1199px) {
    .product-settings .select2-choice {
        max-width:130px
    }

    .product-settings #width-slider.ui-slider.ui-slider-horizontal {
        max-width:320px;
        min-width:320px
    }

    .product-settings #width-slider.ui-slider.ui-slider-horizontal .labels {
        background:image-url('labels-slider-width-2.png') no-repeat;
        width:100%;
        height:22px;
        top:17px;
        position:absolute;
        left:-17px
    }

    .product-settings #length-slider.ui-slider.ui-slider-horizontal {
        max-width:320px;
        min-width:320px
    }

    .product-settings #length-slider.ui-slider.ui-slider-horizontal .labels {
        background:image-url('labels-slider-length-2.png') no-repeat;
        width:100%;
        max-width:320px;
        overflow:hidden;
        height:22px;
        top:17px;
        position:absolute;
        left:-17px
    }
}

@media (max-width: 990px) {
    .product-settings #width-slider.ui-slider.ui-slider-horizontal {
        max-width:460px;
        min-width:460px
    }

    .product-settings #width-slider.ui-slider.ui-slider-horizontal .labels {
        background:image-url('labels-slider-width.png') no-repeat;
        width:100%;
        min-width:484px;
        height:22px;
        top:17px;
        position:absolute;
        left:-17px
    }

    .product-settings #length-slider.ui-slider.ui-slider-horizontal {
        max-width:460px;
        min-width:460px
    }

    .product-settings #length-slider.ui-slider.ui-slider-horizontal .labels {
        background:image-url('labels-slider-length.png') no-repeat;
        width:100%;
        min-width:484px;
        height:22px;
        top:17px;
        position:absolute;
        left:-17px
    }
}

@media (max-width: 600px) {
    .product-settings #width-slider.ui-slider.ui-slider-horizontal {
        max-width:320px;
        min-width:320px
    }

    .product-settings #width-slider.ui-slider.ui-slider-horizontal .labels {
        background:image-url('labels-slider-width-2.png') no-repeat;
        width:100%;
        overflow:hidden;
        height:22px;
        top:17px;
        position:absolute;
        left:-17px
    }

    .product-settings #length-slider.ui-slider.ui-slider-horizontal {
        max-width:320px;
        min-width:320px
    }

    .product-settings #length-slider.ui-slider.ui-slider-horizontal .labels {
        background:image-url('labels-slider-length-2.png') no-repeat;
        width:100%;
        max-width:320px;
        overflow:hidden;
        height:22px;
        top:17px;
        position:absolute;
        left:-14px
    }
}

@media (max-width: 480px) {
    .product-settings h3 {
        font-size:12px;
        margin-top:0
    }

    .product-settings .icon-col {
        display:none
    }

    .product-settings .slider-col {
        padding-left:20px
    }

    .social-icons {
        margin:10px auto 20px;
        display:table
    }

    .social-icons label {
        width:100%;
        text-align:center;
        display:block
    }
}