<section class="ad sidebar-ad">
  <a href="#" target="ad text here"><%= image_tag "placeholders/ad-sidebar.png" ,class: "img-responsive", alt: "ad text here" %></a>
</section>

<section class="ad sidebar-ad">
  <a href="#" target="ad text here"><%= image_tag "placeholders/ad-pinterest.png", class: "img-responsive",  alt: "ad text here" %></a>
</section>