<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="/t/categories/ribbons/celebration"><%= image_tag "homepage/panel1.jpg", alt: "", class: "img-responsive" %></a>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="#"><%= image_tag "homepage/panel2.jpg", alt: "", class: "img-responsive" %></a>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="/why_shop/custom"><%= image_tag "homepage/panel3.jpg", alt: "", class: "img-responsive" %></a>
  </div>
</div>
