<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="#"><%= image_tag "placeholders/panel-1.jpg", alt: "", class: "img-responsive" %></a>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="#"><%= image_tag "placeholders/panel-2.jpg", alt: "", class: "img-responsive" %></a>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="#"><%= image_tag "placeholders/panel-3.jpg", alt: "", class: "img-responsive" %></a>
  </div>
</div>
