<section class="quick-search">

  <div class="container">

    <div class="row">

      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h3>Ribbon Quick Search</h3>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 quick-search-form">

        <form class="form-inline">

          <div class="mbl form-color col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <select class="form-control select select-primary select-block mbl">
              <option value="0">Color</option>
              <option value="1">Option 1</option>
              <option value="1">Option 2</option>
            </select>
          </div>

          <div class="mbl form-color col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <select class="form-control select select-primary select-block mbl">
              <option value="0">Type</option>
              <option value="1">Option 1</option>
              <option value="1">Option 2</option>
            </select>
          </div>

          <div class="mbl form-color col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <select class="form-control select select-primary select-block mbl">
              <option value="0">Width</option>
              <option value="1">Option 1</option>
              <option value="1">Option 2</option>
            </select>
          </div>

          <div class="mbl form-color col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <select class="form-control select select-primary select-block mbl">
              <option value="0">Put Up</option>
              <option value="1">Option 1</option>
              <option value="1">Option 2</option>
            </select>
          </div>

          <div class="mbl form-color col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <select class="form-control select select-primary select-block mbl">
              <option value="0">Pattern</option>
              <option value="1">Option 1</option>
              <option value="1">Option 2</option>
            </select>
          </div>

          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 submit-form-col">
            <button type="submit" class="btn btn-lg btn-info btn-embossed mlm">Go!</button>
          </div>

        </form>

        <div class="nav-search hidden-lg hidden-md hidden-sm col-xs-12 mbl">
          <form class="alt-form" role="search" action="#" method="post">
            <div id="search">
              <input type="text" placeholder="Search" />
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>

      </div>

    </div>

  </div>

</section>