<div class="row why-shop-row">

  <div class="headline-why-shop"><h3>Why Shop With Us?</h3></div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 why-shop-col">
    <div class="icon">
      <a href="/why_shop/why_us#service">
        <%= image_tag "homepage/customer-service-sml.jpg",height: '95px',width: '115px' %>
      </a>
    </div>
    <div class="info">
      <h4>Customer Service</h4>
      <p>OLD TIME - REAL TIME</p>
      <a href="/why_shop/why_us#service">Read More</a>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 why-shop-col">
    <div class="icon">
      <a href="/why_shop/why_us#stock">
        <%= image_tag "homepage/immediate-delivery-sml.jpg",height: '95px',width: '115px' %>
      </a>
    </div>
    <div class="info">
      <h4>Huge Stock Inventory</h4>
      <p>AVAILABLE FOR IMMEDIATE DELIVERY.</p>
      <a href="/why_shop/why_us#stock">Read More</a>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 why-shop-col">
    <div class="icon">
      <a href="/why_shop/why_us#guarantee">
        <%= image_tag "homepage/customer-satisfaction-sml.jpg",height: '95px',width: '115px' %>
      </a>
    </div>
    <div class="info">
      <h4>Guarantee</h4>
      <p>100% SATISFACTION GUARANTEED.</p>
      <a href="/why_shop/why_us#guarantee">Read More</a>
    </div>
  </div>

</div>