<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

    <div class="row">
        <div class="col-lg-12">
              <ol class="breadcrumb">
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span itemprop="title"><a itemprop="url" href="/">Home</a></span>
                </li>
                <li class = 'active' itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
                style="  width: 200px;"
                >
                    <span itemprop="title">About Us</span>
                </li>
              </ol>
        </div>
    </div>


            Artistic Ribbon has been serving tens of thousands of manufacturers , distributors, cottage and mass merchandisers with the finest ribbon since 1928.
            As a third generation family owned business we take great pride in our customer service, speed of delivery and exceptional quality.
            With our roots in the apparel industry where consistent shading and quality are essential we have transformed Artistic Ribbon into the leading supplier of ribbon to the stationery, home craft and packaging industries as well...
            Whether your needs are immediate delivery from our stock warehouse , custom print or design, or dying of your special colors, we are here to help.
            We hope that you enjoy our new state of the art website but please don't forget that our knowledgeable customer service experts are here to actually speak to you as well.. Yes, we encourage live contact.
            Participate in our blogs,Facebook, Twitter and Pinterest platforms. Visit us in our showroom or at tradeshows..
            <br>
            Ribbons are gorgeous, fun and they make you feel good !!<br>
            Welcome to Artistic Ribbon !!<br>
            <br>
            <br>
            <br>

            Steven Eigner
            3rd Generation Ribbon Maven




</div>

