<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
          <span itemprop="title"><a itemprop="url" href="/">Home</a></span>
        </li>
        <li class = 'active' itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
            style="  width: 200px;"
        >
          <span itemprop="title">Contact us</span>
        </li>
      </ol>
    </div>
  </div>

  <table style="  width: 130%;">
    <tr>
      <td>
        <a name="service"></a>
        <h4>Contact Us</h4><br>

        <span style="  color: #bdc3c7;"><h6>Artistic Ribbon, Inc</h6></span>
      </td>
    </tr>

    <tr>
      <td>
        <div class="line-separator"></div>
      </td>
    </tr>

    <tr>
      <td class="format_td">
        <p>
            22 W. 21st Street, New York, NY  10010<br>
            phone:  212-255-4224<br>
            fax:  212-645-6589<br>
            email:  <%=mail_to 'info@artisticribbon.com'%><br>
        </p>
      </td>

    </tr>

  </table>



</div>

