<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

    <div class="row">
        <div class="col-lg-12">
              <ol class="breadcrumb">
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span itemprop="title"><a itemprop="url" href="/">Home</a></span>
                </li>
                <li class = 'active' itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
                style="  width: 200px;"
                >
                    <span itemprop="title">Customer Service</span>
                </li>
              </ol>
        </div>
    </div>

  <table style="  width: 130%;">
    <tr>
      <td>
          <h4>CUSTOMER SERVICE</h4><br>

          <span style="  color: #bdc3c7;"><h6>OLD TIME - REAL TIME</h6></span>
          <br>

          At Artistic ribbon our technologies are fast and precise allowing your emails, shopping cart orders
          and social netowrk messages to reach us for immediate response. How old school of us, but we
          believe in encouraging human interaction. Please call us! Our customer service specialists are
          eager to help you with your inquiries, your stock orders or with your custom design needs. Since
          1928 our family owned business takes pride in what we do. What we do is provide our customers
          with the world’s finest ribbon at the best prices.
      </td>
      <td>
        <%= image_tag "homepage/customer-service.jpg",width: '300px',height: '214px'  %>
      </td>
    </tr>
  </table>



</div>

