<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

    <div class="row">
        <div class="col-lg-12">
              <ol class="breadcrumb">
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span itemprop="title"><a itemprop="url" href="/">Home</a></span>
                </li>
                <li class = 'active' itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
                style="  width: 200px;"
                >
                    <span itemprop="title">Guarantee</span>
                </li>
              </ol>
        </div>
    </div>


            Artistic Ribbon fully guarantees all of out products.  If for some reason
  you are not happy with any item you purchased from us you may return it for a full refund.  The
  ribbon rolls must not be cut for us to accept your return.




</div>

