<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

    <div class="row">
        <div class="col-lg-12">
              <ol class="breadcrumb">
                <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span itemprop="title"><a itemprop="url" href="/">Home</a></span>
                </li>
                <li class = 'active' itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
                style="  width: 200px;"
                >
                    <span itemprop="title">Immediate Delivery</span>
                </li>
              </ol>
        </div>
    </div>

  <table style="  width: 130%;">
    <tr>
      <td>
          <h4>HUGE STOCK INVENTORY</h4><br>

          <span style="  color: #bdc3c7;"><h6>AVAILABLE FOR IMMEDIATE DELIVERY</h6></span>
          <br>
          <ul>
            <li>
              We ship from our own stock warehouse- no waiting, no delays.
            </li>
            <li>
              We provide same day shipping at the lowest wholesale prices.
            </li>
            <li>
              Custom projects are delivered to you when promised and to your satisfaction.
            </li>
            <li>
                We provide the finest domestic “Made in USA” ribbon whenever possible, but also have
                cultivated relationships with many offshore ribbon mills.
            </li>
          </ul>
      </td>
      <td>
        <%= image_tag "homepage/immediate-delivery.jpg",width: '300px',height: '214px'  %>
      </td>
    </tr>
  </table>



</div>

